# Data Cleaning File

In [ ]:
import pandas as pd # pip install pandas if not owned

from pathlib import Path

# change the path

USER_PATH = Path(r"C:\Users\Mateusz\Desktop\ZBIORCZE\TECH\ANALIZA DANYCH\Python\Projekty MB") # <--- here


df = pd.read_csv(USER_PATH / "Pandas Analysis of Netflix Shows" / "data" / "netflix_titles.csv")

In [53]:
# info about data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [54]:
# first five rows

df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [55]:
# last five rows

df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [56]:
df = df.drop_duplicates() # remove duplicates

In [57]:
df = df.drop(columns = "release_year") # column "release_year" deleted (release year is already in "date_added" column)

In [58]:
# print(df.columns) # printing all columns

col = ['show_id', 'type', 'title', 'director', 'cast', 'country', 'rating', 'duration', 'listed_in', 'description'] # all columns within list, except for "date_added" column

df[col] = df[col].astype(str) # changing columns data type to string type (except "date_added column")

In [59]:
# deleting blank spaces from rows

df[col] = df[col].map(lambda x: x.strip() if isinstance(x, str) else x)

In [60]:
# replacing null values to "unknown"

col = ['show_id', 'type', 'title', 'director', 'cast', 'country', 'rating', 'listed_in', 'description'] # all columns within list, except for "date_added" and "duration" column

df[col] = df[col].replace("nan", "Unknown")

In [61]:
# formating a "date_added" column 

df["date_added"] = df["date_added"].str.strip() # deleting blank spaces in a "date_added" column

df["date_added"] = pd.to_datetime(df["date_added"], format="%B %d, %Y") # format change to yyyy-mm-dd

# format copied from chatgpt

In [62]:
# creating two additional columns

df[["length", "unit"]] = df["duration"].str.split(' ', expand=True)

#df["length"].astype(int)

df["unit"] = df["unit"].str.strip()

In [63]:
# setting index

df.set_index(["show_id"], inplace = True) 

df = df.sort_index()

In [64]:
# saving cleaned data to a new file

df.to_csv(USER_PATH / "Pandas Analysis of Netflix Shows" / "data" / "data_cleaned.csv", index = True)

In [65]:
# splitting some columns to get all the key data

df["cast"] = df["cast"].str.split(",")

df["country"] = df["country"].str.split(", ")

df["listed_in"] = df["listed_in"].str.split(", ")

In [66]:
# assigning columns above to new dataframes

df_cast = df[["cast"]]

df_country = df[["country"]]

df_category = df[["listed_in"]]

In [67]:
# unpivoting rows

df_cast = df_cast.explode("cast")

df_cast["cast"] = df_cast["cast"].str.lstrip() # lstrip was needed

df_country = df_country.explode("country")

df_category = df_category.explode("listed_in")

In [68]:
# saving new dataframes to files

df_cast.to_csv(USER_PATH / "Pandas Analysis of Netflix Shows" / "data" / "cast.csv", index = True)

df_category.to_csv(USER_PATH / "Pandas Analysis of Netflix Shows" / "data" / "category.csv", index = True)

df_country.to_csv(USER_PATH / "Pandas Analysis of Netflix Shows" / "data" / "country.csv", index = True)