# Pandas Analysis of Netflix Shows and Movies

In [ ]:
import pandas as pd # pip install pandas # if not owned

import matplotlib.pyplot as plt

from pathlib import Path

# import os

# change the paths below

USER_PATH = Path(r"insert a directory path") # <--- here

df = pd.read_csv(USER_PATH / "Pandas Analysis of Netflix Shows and Movies" / "data" / "data_after_cleaning" / "data_cleaned.csv") 

df_cast = pd.read_csv(USER_PATH / "Pandas Analysis of Netflix Shows and Movies" / "data" / "data_after_cleaning" / "cast.csv") 

df_category = pd.read_csv(USER_PATH / "Pandas Analysis of Netflix Shows and Movies" / "data" / "data_after_cleaning" / "category.csv") 

df_country = pd.read_csv(USER_PATH / "Pandas Analysis of Netflix Shows and Movies" / "data" / "data_after_cleaning" / "country.csv")

## 4. American actors and directors who work together most often

In [2]:
add = df[["show_id", "director", "country"]] # columns that are needed

add = add[add["country"].str.contains("United States")] # only USA

add = add[["show_id", "director"]] # only two columns are needed now

a4 = df_cast.merge(add, how="inner") # merging

a4 = a4[(~a4["cast"].str.contains("Unknown")) & (~a4["director"].str.contains("Unknown"))] # getting rid of 'Unknown' values

# a4

In [3]:
pt_a4 = a4.groupby(["cast", "director"]).count()

pt_a4 = pt_a4.sort_values(by = "show_id", ascending=False)

pt_a4 = pt_a4.iloc[0:10]

In [4]:
pt_a4 = pt_a4.reset_index()

# making names shorter
pt_a4["cast"] = pt_a4["cast"].str.split()
pt_a4["cast"] = pt_a4["cast"].str[1]

pt_a4["director"] = pt_a4["director"].str.split()
pt_a4["director"] = pt_a4["director"].str[1]

In [5]:
# final output

pt_a4["Duo"] = pt_a4["cast"] + " & " + pt_a4["director"]

pt_a4 = pt_a4[["Duo", "show_id"]]

pt_a4.rename(columns={"show_id": "Number of movies and shows"}, inplace=True)

pt_a4

                    Duo  Number of movies and shows
0  PenaVega & Rodriguez                           5
1     Trejo & Rodriguez                           4
2     Keitel & Scorsese                           4
3    Sabara & Rodriguez                           4
4         Mewes & Smith                           4
5      Ford & Spielberg                           4
6   Eastwood & Eastwood                           4
7       Sandler & Brill                           4
8      Blair & Saulnier                           4
9       Wayans & Tiddes                           4

In [6]:
# saving to a file

pt_a4.to_csv(USER_PATH / "Pandas Analysis of Netflix Shows and Movies" / "data" / "results" / "duos.csv", index = False)